<app-header></app-header>
<main>

    <div class="titulo">

        <h2>Gêneros</h2>
        <img src="../../assets/img/theater 1.png" alt="imagem">

    </div>

    <h2>Cadastrar Gêneros</h2>

    <form>

        <mat-form-field class="input" appearance="fill">
            <mat-label>Gêneros</mat-label>
            <input matInput placeholder="Escreva aqui">
        </mat-form-field>

        <button class="botaoSalvar">Salvar</button>

    </form>

    <br><br>

    <div class="categorias">

        <div class="categoria1">

            <p>Terror</p>

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>

        </div>

        <br>

        <div class="categoria2">

            <p>Ação</p>

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>

        </div>

        <br>

        <div class="categoria3">

            <p>Comédia</p>

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>

        </div>

        <br><br>

    </div>

</main>
<app-footer></app-footer>