<app-header></app-header>
<main>

    <div class="titulo">

        <h2>Gêneros</h2>
        <img src="../../assets/img/theater 1.png" alt="imagem">

    </div>

    <h2>Cadastrar Gêneros</h2>

    <form [formGroup]="form">

        <mat-form-field class="input" appearance="fill">
            <mat-label>Gêneros</mat-label>
            <input formControlName="genero" matInput placeholder="Escreva aqui">
        </mat-form-field>

        <button (click)="cadastrarDadosGenero()" *ngIf="!verificarEditar" class="botaoSalvar">Salvar</button>
        <button (click)="EditarGenero()" *ngIf="verificarEditar" class="botaoSalvar">Editar</button>

    </form>

    <br><br>

    <div  *ngFor="let item of genero; index as i;"class="categorias">

        <div  class="categoria1">

            <p>{{item.genero}}</p>

            <button (click)="EditarCliente2(item)" class="editar">Editar</button>
            <button (click)="deleteDadosGenero(item.id)" class="excluir">Excluir</button>

        </div>

    </div>

</main>
<app-footer></app-footer>