<app-header></app-header>
<main>

    <div class="titulo">

        <h2>Filmes</h2>
        <img src="../../assets/img/cinema 1.png" alt="imagem principal" class="img">

    </div>

    <h2>Cadastrar Filmes</h2>

    <form [formGroup]="form" (ngNativeValidate)="salvarDadosFilmes()">
    
        <mat-form-field formControlName="filmes" class="input" appearance="fill">
            <mat-label>Título do filme</mat-label>
            <input matInput placeholder="Escreva aqui">
        </mat-form-field>

        <mat-form-field appearance="fill" formControlName="genero" class="select">
            <mat-label>Escolha o genero</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Genero</mat-option>
              <mat-option value="option2">Genero2</mat-option>
              <mat-option value="option3">Genero3</mat-option>
            </mat-select>
          </mat-form-field>
          
    

          <button type="submit" class="salvar" (click)="salvarDadosFilmes()" *ngIf="!verificarEditar">Salvar</button>
          <button type="submit" class="salvar" (click)="EditarCliente1()" *ngIf="verificarEditar">Editar</button>
        
    </form>

    <br><br>

    <div class="filmes" *ngFor="let item of filmes; index as i;">

        <div class="filme1">
            <p>{{item}}</p>
            <p>{{item.genero}</p>

            <button class="editar" (click)="EditarCliente2(item)">Editar</button>
            <button class="excluir" (click)="deleteDadosFilmes(item.id)">Excluir</button>
        </div>

    </div>

    <br><br>

</main>
<app-footer></app-footer>