<app-header></app-header>
<main>

    <h2>Cadastro</h2>

    <!-- Dados do usuario -->

    <form id="cadastro">

        <div>

            <p class="color">Nome</p>
            <input>

        </div>
        <div>

            <p class="color">E-mail</p>
            <input>

        </div>
        <div>

            <p class="color">Telefone</p>
            <input>

        </div>

    </form>

    <br><br>
    <button id="botao_cadastrar">Cadastrar</button>

    <br><br>
    <br><br>

    <!-- Usuarios -->

    <div id="usuarios">
        
        <div class="usuario1">

            <p>Paulo André</p>
            <p>paulo@email.com</p>
            <p>3349 6788</p>
             
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>

        </div>

        <br>

        <div class="usuario2">

            <p>Marcos Lucio</p>
            <p>marcos@email.com</p>
            <p>3349 6788</p>

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>

        </div>

        <br>

        <div class="usuario3">

            <p>Laura Port</p>
            <p>laura@email.com</p>
            <p>3349 6788</p>

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
            
        </div>

        <br><br>

    </div>
</main>
<app-footer></app-footer>