<app-header></app-header>
<main>

    <h2>Cadastro</h2>

    <!-- Dados do usuario -->

    <form [formGroup]="form">

        <div id="cadastro">

            <div>

                <p class="color">Nome</p>
                <input formControlName="nome" type="text" >

            </div>
            <div>

                <p class="color">E-mail</p>
                <input formControlName="email">

            </div>
            <div>

                <p class="color">Telefone</p>
                <input formControlName="telefone">

            </div>

        </div>




        <br><br>
        <button (click)="cadastrarDadosUsuario()" *ngIf="!verificarEditar" id="botao_cadastrar">Cadastrar</button>
        <button (click)="EditarCliente1()" *ngIf="verificarEditar" id="botao_cadastrar">Editar</button>

    </form>

    <br><br>
    <br><br>

    <!-- Usuarios -->

    <div id="usuarios">

        <div *ngFor="let item of usuario; index as i;" class="usuario1">

            <p>{{item.nome}}</p>
            <p>{{item.email}}</p>
            <p>{{item.telefone}}</p>

            <button (click)="EditarCliente2(item)" class="editar">Editar</button>
            <br><br>
            <button (click)="deleteDadosUsuarios(item.id)" class="excluir">Excluir</button>

        </div>


        <br><br>

    </div>
</main>
<app-footer></app-footer>