<app-header></app-header>
<main>

<br><br>

    <h2 class="titulo">Monte sua coletânea de filmes...</h2>

    <br><br>

    <div class="informacao">

        <div class="cima">

            <p>
                <span>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</span>

                <br><br>

                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. 
            </p>

        </div>

        <br><br>

        <div class="baixo">

            <div class="lado_esquerdo">

                <img src="../../assets/img/cinema 1.png" alt="imagem">

                <br><br>

                <p> 
                    <span> Filmes</span>
    
                    <br><br>
    
                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. 
    
                </p>
    
            </div>
    
            <div class="lado_direito">
    
                <img src="../../assets/img/theater 1.png" alt="imagem">

                <br><br>
                
                <p> 
                    <span>Categoria</span>
    
                    <br><br>
    
                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat.
    
                </p>
    
            </div>

        </div>
        

    </div>

    <br><br>

</main>
<app-footer></app-footer>